@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
   
    .banner_img{
    background: url(../images/banner/cover.jpg) no-repeat center;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    }
    .overlay_bg{
        background: radial-gradient(circle, rgba(2,0,36,0.35) 0%, rgba(0,0,0,0.79) 100%);
     width: 100%;
     height: 100%;
    }
    .width_btn{
        display: inline-block;
        width: 140px;
    }
    .menu_a{
        background:#232340;
        position: absolute;
        bottom:0;
        left: 0;
        width: 100%;
        height: 2px;
        content:'';
        transform:translate(0%);
        -webkit-transform:translate(0%);
        -moz-transform:translate(0%);
        -ms-transform:translate(0%);
        -o-transform:translate(0%);
        transition:.4s all ease-in-out;
        -webkit-transition:.4s all ease-in-out;
        -moz-transition:.4s all ease-in-out;
        -ms-transition:.4s all ease-in-out;
        -o-transition:.4s all ease-in-out;
    }
    .hover_menu{
        color:#5468E7;
        /* position: absolute;
        bottom:0;
        left: 0; */
        width: 100%;
        /* transform:translateX(50%);
        -webkit-transform:translateX(50%);
        -moz-transform:translateX(50%);
        -ms-transform:translateX(50%);
        -o-transform:translateX(50%); */
    }
    .profile_img{
        width: 100px;
        height: 100px;
        border:1px solid #252B42;
        border-radius:50%;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        -ms-border-radius:50%;
        -o-border-radius:50%;
    }
    .menu_a{
            position: relative;
            background:transparent;
    }   

    .menu_a::after{
    width: 0%;
    height: 2px;
    background: #5468E7;
    position: absolute;
    bottom: -5px;
    left: 50%;
    content: "";
    z-index: 99;
    transform: translate(-50%,-50%);
    transform-origin:center center;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transition:.4s all ease-in-out;
    -webkit-transition:.4s all ease-in-out;
    -moz-transition:.4s all ease-in-out;
    -ms-transition:.4s all ease-in-out;
    -o-transition:.4s all ease-in-out;
}
    .hover_menu_a:hover{
        color:#5468E7;
        position: relative;

    }
    .hover_menu_a:hover:after{
         width: 100%;
    }
    .menu_a_active{
        color:#5468E7;
    }
    .menu_a_active::after{
       width:100%;
    }
    .team:hover .border_line{
        width: 10%;
    }

   
    
}

@layer components{
    .first_btn{
        @apply text-sm font-montserrat md:p-3 text-white font-semibold rounded-full bg-badge border border-badge md:mr-2 width_btn duration-300 transition-all ease-linear hover:bg-transparent  hover:border-white
    }
    .second_btn{
        @apply text-sm font-montserrat md:p-3 text-white font-semibold rounded-full bg-transparent border md:width_btn duration-300 transition-all ease-linear hover:bg-badge hover:border-badge
    }
    .banner_card{
        @apply md:w-4/5  m-auto bg-white text-bold_color flex sm_md:flex justify-between items-center p-4 rounded-sm mt-12 xl:space-x-20 md:absolute left-0 bottom-0 md:translate-x-1/4 md:translate-y-2/4  sm_md:flex-row sm:flex-col
    }
    .title_h6_style{
        @apply text-white   md:text-font-40 font-bold font-montserrat md:w-1/2 m-auto leading-tight
    }
    .title_p_style{
        @apply text-slate-300 md:text-sm sm:text-xs font-medium font-montserrat md:w-1/3 sm:w-full m-auto mt-4
    }
    .lavel{
        @apply block text-sm font-montserrat font-semibold mt-1 mb-1 md:text-section sm:text-gray-50
    }
    .input{
        @apply border-2 text-sm  placeholder-white font-opensans font-normal md:bg-transparent sm:bg-section-2 border-gray-400 w-full block p-2 pl-3 mb-3  focus:outline-none md:optional:bg-transparent sm:optional:bg-slate-800 sm:text-gray-100 
    }
    .footer_menu_a{
        @apply font-montserrat text-sm md:font-semibold sm:font-normal mb-2 inline-block text-white 
    }
    .ovarlay_responsive_cmt{
        @apply  md:pt-5 lg:pb-[36rem] md:pb-[32rem] sm_md:pb-[30rem] sm:p-2 md:h-full sm:max-h-96
    }

}

.next{
    font-size: 24px;
    color: #ffffff;
    position: absolute;
    bottom: -60px;
    right: 39%;
    transform: translate(-50%,-50%);
    width: 60px;
    height: 60px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    transition: .4s;
    z-index: 9999;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.prev{ font-size: 24px; color: #ffffff; position: absolute; bottom: -60px; left: 44%; transform: translate(-50%,-50%); width: 60px; height: 60px; border: 1px solid #ffffff; border-radius: 50%; text-align: center; line-height: 60px; cursor: pointer; transition: .4s; z-index: 9999; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%);

}
@screen sm{
    .menu_a::after{
        display: none;
    }
    .menu_a_active{
        color:#ffffff;
    }
    .hover_menu_a:hover{
        color:#272727;
        position: relative;

    }
    .add_btn_js{
        display:block;
        
    }
    .rmv_btn_js{
        display:none;
        
    }
    .overflow_hidden_x_important{
        overflow-x: hidden !important;
    }
    .prev{
        left:35%;
        font-size:18px;
        width:40px;
        height:40px;
        line-height:40px;
    }
    .next{
        right:25%;
        font-size:18px;
        width:40px;
        height:40px;
        line-height:40px;
    }
  
}
@screen sm_md{
    .overflow_hidden_x_important{
        overflow-x: hidden !important;
    }
}
@screen md{
    .menu_a::after{
        display: block;
    }
    .menu_a_active{
        color:#5468E7;
    }
    .hover_menu_a:hover{
        color:#5468E7;
        position: relative;

    }
    .overflow_hidden_x_important{
        overflow-x: hidden !important;
    }
    .prev{
        left:48%;
        font-size:22px;
        width:60px;
        height:60px;
        line-height:60px;
        bottom:-100px;
    }
    .next{
        right:35%;
        font-size:22px;
        width:60px;
        height:60px;
        line-height:60px;
        bottom:-100px;
    }
}

@screen lg{
    .overflow_hidden_x_important{
        overflow-x: hidden !important;
    }
    .prev{
        left:47%;
        bottom:-110px;
    }
    .next{
        right:38%;
        bottom:-110px;
    }
}
@screen xl{
    @screen sm_md{
        .overflow_hidden_x_important{
            overflow-x: hidden !important;
        }
    }
}
@screen 2xl{
    @screen sm_md{
        .overflow_hidden_x_important{
            overflow-x: hidden !important;
        }
    }
}

.overflow_hidden_x_important{
    overflow-x: hidden !important;
}